{% extends "index.html" %}{% block table %}
<div class="row">
    <div class="lead col-3">
        <h4 class="cover-heading">State: {{ data.state[0] }}</h4>
        <table class="table table-sm table-primary">
            {% for k,v in data.causes.state0.items() %}
            <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="lead col-3">
        <h4 class="cover-heading">State: {{ data.state[1] }}</h4>
        <table class="table table-sm table-primary">
            {% for k,v in data.causes.state1.items() %}
            <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}