{% extends "index.html" %}{% block table %}
<div class="row">
    <div class="col-3">
        <h4 class="cover-heading">State: {{ data.state[0] }}</h4>
        <table class="table table-sm table-primary">
            {% for k,v in data.causes.state0.items() %}
            <tr>
                <th class="text-left">{{ k }}: </th>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th class="text-left">Total: </th>
                <td>{{ data.total.state0 }}</td>
            </tr>
        </table>
    </div>
    <div class="col-3">
        <h4 class="cover-heading">State: {{ data.state[1] }}</h4>
        <table class="table table-sm table-primary">
            {% for k,v in data.causes.state1.items() %}
            <tr>
                <th class="text-left">{{ k }}: </th>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th class="text-left">Total: </th>
                <td>{{ data.total.state1 }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}